@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    height: 50000px;
}
:root{
    --mainColor:#4a2c2a;
    --subColor:#3a3a3a;
    --thColor:#a28f8d;

    --mainFont: "Roboto Slab", serif;
    --subFont: 'Caudex', serif;
}

.navbar-zz{
    background-color: #5d5757;
    color: #fff;
  
}
a.navbar-brand.d-flex.align-items-center {
    gap: 7px;
}
.navbar-brand img{
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
}
.time h5{
    font-family: var(--mainFont);
    font-size: 14px;
    font-weight: 400;
    
}
i.fa-regular.fa-clock {
    margin-bottom: 5px;
}
.time.d-flex.align-items-center {
    gap: 6px;
}
.icon.d-flex.justify-content-center.align-items-center {
    gap: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.facebook,
.instgram,
.whats {
    background-color: #fff;
    color: var(--subColor);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; 
    
}

.facebook:hover,
.instgram:hover,
.whats:hover {
    background-color: var(--subColor);
    color: #fff;
}
.log-in{
    font-size: 25px;
}
.log-in:hover{
color: var(--mainColor);
cursor: pointer;
}

.nav-barfirst i.fa-solid.fa-user {
    color: #fff;
}
.nav-2.navbar-expand-lg {
    background-color: var(--subColor);
}
.navbar-brand{
    font-family: var(--mainFont);
}
.nav-item a{
   
     color: #fff;
     font-size: 17px;
}
.nav-link:focus, .nav-link:hover  {
    color: var(--thColor);

}
.navbar-brand  h3{
    font-size: 23px;
    color: #fff;
}
ul.navbar-nav.ms-auto.d-flex.align-items-center {
    gap: 50px;
}
i.fa-solid.fa-cart-shopping {
    margin-left: 25px;
    color: #fff;
    font-size: 25px;
}
.nav-link.nav-last a {
    display: none ;
}

@media (max-width: 991px) {
    .Account {
        display: block !important;
    }
 
    .log-in{
        display: none;
    }
    i.fa-solid.fa-cart-shopping {
        margin-left: 0;
    }
}
@media (max-width: 550px) {
  .time{
    width: 100%;
    flex-wrap: wrap;
 
  }
  .time h5{
    margin-left: 96px;
  }
  i.fa-regular.fa-clock {
 display: none;
}
  .icon{
    width: 100%;
  }
}
@media (max-width: 450px) {

    .time h5{
      margin-left: 40px;
    }

  }
@media (max-width: 400px) {

    .time h5{
      margin-left: 25px;
    }

  }
  

/*******************************************************************/
.header {
    position: relative;
    height: 670px; 
    overflow: hidden; 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/coffe4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    filter: brightness(0.3) blur(2px);  
    z-index: 0;
}


.dec-header {
    position: relative; 
    color: #fff; 
    z-index: 1; 
    text-align: center; 
    padding-top: 20%; 
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--mainFont);
}
.button{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.button .btn.btn-1{
    background-color: var(--subColor);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    transition: background-color 0.3s ease; 
}
.button .btn.btn-1:hover{
    background-color: var(--thColor);
    color: var(--subColor);
    cursor: pointer; 
}
.button .btn.btn-2{
    background-color: var(--thColor);
    color: var(--subColor);
    font-size: 15px;
    font-weight: 400;
    transition: background-color 0.3s ease; 
}
.button .btn.btn-2:hover{
    background-color: var(--subColor);
    color: #fff;
    cursor: pointer; 
}
.header .dec-header h1{
    font-size: 45px;
  
}
.header .dec-header h3{
    font-size: 28px;
  
}
.dec-header p {
    width: 80%; 
    font-size: 1.2rem; 
    text-align: center; 
    margin: 0 auto; 
}
@media (max-width: 600px) {
    .header .dec-header h1{
        font-size: 35px;
      
    }
    .header .dec-header h3{
        font-size: 23px;
      
    }
    .dec-header p {
     
        font-size: 1rem;
     
    }
}
@media (max-width: 465px) {
    .header .dec-header h1{
        font-size: 30px;
      
    }
    .header .dec-header h3{
        font-size: 19px;
      
    }
    .dec-header p {
     
        font-size: .95rem;
     
    }
}
@media (max-width: 425px) {
    .dec-header {
        margin-top: 46%;
    }
    .header .dec-header h1{
        font-size: 25px;
      
    }
    .header .dec-header h3{
        font-size: 17px;
      
    }
    .dec-header p {
     
        font-size: .8rem;
    }
}
/*******************************************************************/
.Aabouts{
    padding: 50px;
    font-family: var(--mainFont);
    margin-bottom: 20px;

}

.about .left{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
}
h5.card-title.title-left{
    font-size: 50px;
    color: var(--mainColor);
    font-weight: 600;
}
p.card-text.p-left {
    font-size: 20px;
    font-weight: 400;
    color: var(--mainColor);
}
a.btn.read-more{
    background-color: var(--mainColor);
    color: #fff;
    transition: background-color 0.3s ease;

}
a.btn.read-more:hover {
    background-color:var(--subColor);
    cursor: pointer;

}

.coffe1,
.coffe2{
    display: none;
}
.coffe5{
    width: 280px;
     height: 400px;
}
img.rounded-4.stockCake {
    width: 320px;
}
.coffe8{
    width: 416px;
}
.coffe10{
   width:  416px; 
    height: 200px; 
}
img.rounded-4.barista {
    width: 280px;
}
.about.d-flex{
    gap: 20px;
}
.serving,
img.img03{
    display: none;
}
.last-img{
    position: relative;
}
@media (max-width: 1378px) {
    .coffe8{
        width: 382px;
    }
    .coffe10{
        width:  382px; 
    }
}
@media (max-width: 1227px) {
    .coffe8{
        width: 350px;
    }
    .coffe10{
        width:  350px; 
    }
    img.rounded-4.stockCake {
        width: 285px;
    }
}
@media (max-width: 1173px) {
    .coffe8{
        width: 295px;
    }
    .coffe10{
        width:  295px; 
    }
    img.rounded-4.stockCake {
        width: 250px;
    }
}
@media (max-width: 1076px) {
    .coffe8{
        width: 250px;
    }
    .coffe10{
        width:  250px; 
    }
    img.rounded-4.stockCake {
        width: 210px;
    }
    img.rounded-4.barista {
        width: 250px;
    }
}
@media (max-width: 965px) {
    .coffe8{
        width:  200px;
    }
    .coffe10{
        width: 200px;
        height: 132px;
    }
    img.rounded-4.stockCake {
       display: none;
    }
    img.rounded-4.barista {
        width: 295px;
    }
    .coffe1{
        display: block;
        width:  200px;
    }
    p.card-text.p-left {
        font-size: 16px;}
        .coffe5{
            height: 333px;
        }
}
@media (max-width: 795px) {
    .coffe8 {
        width: 150px;
    }

    .coffe10 {
        width: 150px;
        height: 86px;
    }

    img.rounded-4.barista {
        width: 175px;
    }
    img.rounded-4.stockCake {
        display: block;
        width: 155px;
    }

    .coffe1 {
        width: 150px;
    }
    .coffe2{
        display: block;
        width: 150px;
    }

    .coffe5 {
        height: 333px;
    }
}
@media (max-width: 693px) {
    .coffe8 {
        width: 120px;
    }

    .coffe10 {
        width: 120px;
        height: 75px;
    }

    img.rounded-4.barista {
        width: 145px;
    }
    img.rounded-4.stockCake {
        display: block;
        width: 140px;
    }

    .coffe1 {
        width: 120px;
    }
    .coffe2{
        width: 120px;
    }

    p.card-text.p-left {
        font-size: 16px;
    }

    .coffe5 {
        height: 297px;
    }
}
@media (max-width: 620px) {
    h5.card-title.title-left {
        font-size: 40px;
    }
    .coffe8 {
        width: 118px;
    }

    .coffe10 {
        width: 118px;
        height: 75px;
    }

    img.rounded-4.barista {
        width: 145px;
    }
    img.rounded-4.stockCake {

        width: 140px;
    }

    .coffe1 {
        width: 118px;
    }
    .coffe2{
        width: 118px;
    }

    p.card-text.p-left {
        font-size: 14px;
    }

    .coffe5 {
        height: 297px;
    }
}

@media (max-width: 595px) {
    .coffe5,
    .coffe2,
    .coffe8,
    .coffe10,
    .coffe1,
    img.rounded-4.barista,
    img.rounded-4.stockCake,
    .secound,
    .first {
        display: none;
    }
    .first{
        height: 10%;
    }
 
    .serving{
        display: block;
        width: 165px;
    }
    img.img03 {
        width: 140px;
        position: absolute;
        top: 85%;
        left: 23%;
        display: block;
    }

}
@media (max-width: 530px){
    h5.card-title.title-left {
        font-size: 30px;
    }
    p.card-text.p-left {
        font-size: 12px;
    }
}
@media (max-width: 400px){
    h5.card-title.title-left {
        font-size: 25px;
    }
    p.card-text.p-left {
        font-size: 10px;
        font-weight: 500;
    }
}
/*******************************************************************/
.our-special-coffee,
.our-special-Dessert{
    font-family: var(--mainFont);
    padding: 50px;
}
.our-special-coffee h1,
.our-special-Dessert h1{
    color: #4a2c2a;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    
    position: relative;
}
.swiper-slide h3{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

    font-size: 20px;
    background-color: #4a2c2a;
    color: #fff;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}
.swiper-slide h5{
    position: absolute;
    top: 0;
    background-color: var(--mainColor);
    text-align: center;
    color: #fff;
    padding:10px;
    border-radius: 5px;
    right: 0;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #fff;
}
@media (max-width: 992px) {
    .swiper-slide h3 {

        font-size: 12px;

    }
}
@media (max-width: 768px) {
    .swiper-slide h3,
    .swiper-slide h5 {

        font-size: 14px;
        text-align: center;

    }
    .swiper-slide h3{
        padding: 0;
    }
}

@media (max-width: 575px) {
    .swiper-slide h3 {

        font-size: 9px;

    }
    .swiper-slide h5 {
        padding: 2px;
        font-size: 9px;

    }
}
@media (max-width: 470px) {

    .swiper-slide h3 {
      position: relative;
      margin-top: 5px;
    }
}


/****************************************************************/
.blog {
    
    font-family: var(--mainFont);
    background-color: var(--mainColor);
}
.blog h1{
text-align: center;
font-size: 45px;
color: #fff;
margin-bottom: 10px;
}

.cards {
    flex-wrap: wrap;
}
.card h5,
.card p{
    color: var(--mainColor);
    text-align: center;
}
@media (max-width: 768px) {
    .cards{
        justify-content: center !important;
    }  
    .card {
        width: 100%;
      } 
}

  
/****************************************************************/
.footer{
    font-family: var(--subFont);
    background-color: var(--subColor);
}
.footer a {
    text-decoration: none;

}
ul.list-unstyled.mt-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
   
}


.scrollNavBar.navbar-expand-lg  {
    background-color: var(--mainColor); /* Adjust as needed */
    transition: background-color 0.3s ease;
}
@media (max-width: 770px) {
    .footer .row > div {
        flex: 0 0 50%; /* Set each column to take half the width */
        max-width: 50%; /* Set max-width for responsiveness */
    }
    .map-responsive {
        flex: 0 0 100%; /* Set map section to take full width */
        width: 100%; /* Set max-width for map */
    }
}
